@font-face {
    font-family: 'opensans';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff2') format('woff2'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('opensans-bolditalic-webfont.eot');
    src: url('opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bolditalic-webfont.woff2') format('woff2'),
         url('opensans-bolditalic-webfont.woff') format('woff'),
         url('opensans-bolditalic-webfont.ttf') format('truetype'),
         url('opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'opensanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url('opensans-lightitalic-webfont.eot');
    src: url('opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-lightitalic-webfont.woff2') format('woff2'),
         url('opensans-lightitalic-webfont.woff') format('woff'),
         url('opensans-lightitalic-webfont.ttf') format('truetype'),
         url('opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}



* {
    box-sizing: border-box;
    outline: none;
}

body {
  font-size: 16px;
  background-color: #000;
  color: #fff;
  font-family: 'opensanslight', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.site-header {
 
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 2rem;
}

img {
    height: auto;
    max-width: 100%;
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
}

.logo, .search-form {
    display: block;
    width: 300px;
}

.search-form-inner {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
}

.search-form-inner p {
    margin-bottom: 1rem;
}


.story-grid {
    margin: 0 auto;
    width: 100%
}

.ajax-loader {
    display: none;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 38px;
}


.site-footer {
    color: #c2c2c2;
    font-size: 9px;
    font-size: .9rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 2rem;
}








