.stories p {
    background-color: rgba(40, 40, 40, 0.5);
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    margin: 0;
    width:100%;
}

.story-grid {
    margin: 0 auto;
    width: 100%;

    @include tablet {
      display: flex;
      flex-flow: row wrap;
    }
}

.story-cell {
  width: 100vw;
  height: 100vw;
  position: relative;

  @include tablet {
    width: 33.333vw;
    height: 50vw;
  }

  @include desktop {
    width: 25vw;
    height: 35vw;
  }
}

.stories {

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.image-container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.story-cell img {
  max-width: 100%;
  
}


.story-cell a {
  text-decoration: none;
  color: $base-font-color;
}

.loader-gif {
    display: none;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 38px;
}

