.story-grid {
    margin: 0 auto;
    width: 100%;

    @include tablet {
      display: flex;
      flex-flow: row wrap;
    }
}


.stories {

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  
  p {
    background-color: rgba(40, 40, 40, 0.5);
    padding: 0.5rem;
    position: absolute;
    bottom: 0px;
    margin: 0;
    width:100%;

    @include tablet {
      bottom: -200px;
      transition: all .5s ease;
    }
  }
}


.story-cell {
  width: 100vw;
  height: 100vw;
  position: relative;
  

  @include tablet {
    width: 33.333vw;
    height: 50vw;
    overflow: hidden;

    &:hover {
      .story-abstract {
        bottom: 0;
      }
    }
  }

  @include desktop {
    width: 25vw;
    height: 35vw;
    overflow: hidden;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: $base-font-color;
  }
}



.image-container {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.loader-gif {
    display: none;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 38px;
}

