.website-footer {
    color: $footer-text-color;
    font-size: 9px;
    font-size: .9rem;
    margin-bottom: 3rem;
    text-align: center;
    padding: 0 2rem;

    p {
      padding-top: 1rem;
    }

    .copyright {
      display:flex;

    }
}


span {
  text-transform: uppercase;
}