* {
    box-sizing: border-box;
    outline: none;
}

body {
  font-size: $base-font-size;
  background-color: #000;
  color: $base-font-color;
  font-family: $base-font, sans-serif;
  height: 100vh;
  margin: 0;
}

.container {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    }

img {
    height: auto;
    max-width: 100%;
}

li {
  list-style: none;
}

